*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#navBar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
   
}
#logo{
    height: 40px;
    width: 80px;
}
#links{
    display: flex;
    gap: 100px;
}
#links .navLink{
    color: white;
    text-decoration: none;
}
#subBtn{
    height: 40px;
    width: 150px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: row;
   border-radius: 2px;
   background-color: rgba(0, 0, 0, 0.077);
   border: 1px solid white;
   color: white;
}
#cartsLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#cartsLink .linksLogo i{
    color: white;
}
#login-main{
    height: 500px;
    width: 400px;
    background-color: #111111c6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    left: 1000px;
    top: 90px;
    z-index: 10;
}
#login-head{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}
#login-head h4{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
#login-head p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #c5c3c3;
   
}
#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#label1{
    margin-right: 180px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   color: #ffffff;
}
#label2{
    margin-right: 215px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
}
#label3{
    margin-right: 180px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#label4{
    margin-right: 115px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#login-main input{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 2px;
}
#login-main input::placeholder{
  padding-left: 10px;
  font-size: small;
   font-family: Arial, Helvetica, sans-serif;
}
#signbtn{
    height: 35px;
    width: 100px;
    border-radius: 5px;
   border: none;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   background-color: #000;
}
#poster-div{
    background-image: url("./new/3.jpg");
    height: 500px;
    width: 100%;
   display: flex;
   justify-content: start;
   align-items: start;
  flex-direction: column;
 background-size: cover;
 background-repeat: no-repeat;
}
#poster-div2{
    background-image: url("./new/myshoe2.jpg");
    height: 800px;
    width: 100%;
   display: flex;
   justify-content: start;
   align-items: start;
  flex-direction: column;
 background-size: cover;
 background-repeat: no-repeat;
}
#latest{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#latest p{
    text-transform: uppercase;
}
#jur-div{
   height: 500px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
}
#jur-div #jur1{
    background-image: url("./new/jurseyposter1.avif");
    height: 600px;
    width: 500px;
    background-size: cover;
   background-repeat: no-repeat;
    display: flex;
  justify-content: center;
  align-items: end;
  color: #ffffff;
}
#jur-div #jur2{
    background-image: url("./new/pumaposter2.webp");
    height: 600px;
    width: 500px;
    background-size: cover;
   background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  color: #ffffff;
}
#carts{
    display: flex;
    justify-content: center;
   gap: 10px;
}
.cart-btn{
    height: 40px !important; 
    background-color: #000 !important;
    border: none !important;
    border-radius: 0% !important;
}
.signInp{
   background-color: rgba(5, 5, 5, 0.602);
   height: 40px !important;
   width: 250px !important;
   color: #ffffff;
}
#Login-Page{
     height: 400px;
    width: 350px;
    background-color: #000000c7;
    position: absolute;
    top: 90px;
    z-index: 10;
    left: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
#Login-Page h4{
    text-align: center;
    color: #ffffff;
}
#Login-Page input{
    height: 40px;
    width: 220px;
    margin-left: 70px;
}
#Login-Page label{
     margin-left: 70px;
     color: #ffffff;
}
#Login-Page button{
     height: 40px;
    width: 120px;
    margin-left: 120px;
   border: none;
}
.inputByte{
    background-color: #0000009b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: small;
    padding-left: 10px;
}
.userBtn:hover{
  background-color: #e69a1f;
}
