*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#navBar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
   
}
#logo{
    height: 40px;
    width: 80px;
}
#links{
    display: flex;
    gap: 100px;
}
#links .navLink{
    color: white;
    text-decoration: none;
}
#subBtn{
    height: 40px;
    width: 150px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: row;
   border-radius: 2px;
   background-color: rgba(0, 0, 0, 0.077);
   border: 1px solid white;
   color: white;
}
#cartsLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#cartsLink .linksLogo i{
    color: white;
}
#login-main{
    height: 450px;
    width: 350px;
    background-color: #111111c6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    left: 1000px;
    top: 90px;
    z-index: 10;
}
#login-head{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}
#login-head h4{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
#login-head p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #c5c3c3;
   
}
#login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#label1{
    margin-right: 145px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
#label2{
    margin-right: 170px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
#label3{
    margin-right: 145px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
#label4{
    margin-right: 105px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
#login-main input{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 2px;
}
#login-main input::placeholder{
  padding-left: 10px;
  font-size: small;
   font-family: Arial, Helvetica, sans-serif;
}
#signbtn{
    height: 35px;
    width: 90px;
    border-radius: 5px;
   border: none;
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   background-color: #000;
}