#main-nav{
    display: flex !important;
    justify-content: space-evenly;
    font-family: "poppins" sans-serif;
}
#links{
    display: flex;
    gap: 15px;
}
#search-nav{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
#btn{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #2563eb;
    color: #ffffff;
   border-radius: 10px;
   margin-left: 10px;
}